:root{
	--p-primary-color: #234;
}

:root.dark{
	/*--p-primary-color: #d6d6d6e0;*/
	--p-primary-color: #dcdcd9;
}

html{
	font-size: 58.5%;
}

body{
	font-family: 'Inter';
	color: black;
}

:root.dark body{
	color: var(--p-primary-color);
	background: #141414;
}

@media (min-width: 576px){
	html{
		font-size: 59.5%;
	}
}
@media (min-width: 768px){
	html{
		font-size: 60.5%;
	}
}
@media (min-width: 992px){
	html{
		font-size: 61.5%;
	}
}


/*===========================================
	Custom CSS
===========================================*/

img{
	max-width: 100%;
}

/*===========================================
	Section-1
===========================================*/

.section-1-h1{
	font-size: 1.7em;
	margin-bottom: 3rem;
}

.section-1 .date{
	margin-bottom: 2.7rem;
}

.sub-heading span{
	display: block;
	font-size: 1.5rem;
}

.section-1-description{
	font-family: "HCo Operator Mono Italic",monospace;
	font-size: 2.4rem;
	line-height: 1.65;
}

/*===========================================
	Section-2
===========================================*/

.clone-section{
	margin-top: 6rem;
	margin-bottom: 5rem;
}

h2{
	font-family: "HCo Operator Mono Italic",monospace;
	font-size: 1.7em;
}

.clone-section .description{
	font-size: 2rem;
}

.clone-section .row{
	justify-content: space-around;
}

.section-2 .col-md-6:last-child{
	align-self: flex-end;
}

.clone-section img{
	max-width: 88%;
	margin-left: -20px;
}

/*
.clone-section img{
	transform: rotate3d(0, 0, 1, 25deg)
}
*/

h3{
	font-size: 1.3em;
}



/*===========================================
	Theme toggler
===========================================*/
#theme-toggler{
	width: 2.5rem;
	height: 2.5rem;
	position: fixed;
	border-radius: 50%;
	bottom: 2rem;
	right: 2rem;
	overflow: hidden;
	border: 2px solid gray;
}

.theme-toggler-left, .theme-toggler-right{
	width: 50%;
	height: 100%;
}

.theme-toggler-left{
	background: #f6f6f6;
}

.theme-toggler-right{
	background: black;
}

/*===========================================
	Responsive CSS
===========================================*/
.container{
	overflow: hidden;
}

@media (min-width: 576px){

	.clone-section img{
		max-width: 72%;
	}

	.container{
		overflow: initial;
	}

}

@media (min-width: 768px){
	.clone-section img{
		max-width: 100%;
	}
}


:root.dark .text-black{
	color: #ff6c6c;
}

:root.dark img{
	filter: brightness(.95);
}
